@import url('http://fonts.cdnfonts.com/css/montserrat');
@import url('http://fonts.cdnfonts.com/css/roca-de-escama');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

html, body {
  padding: 0 !important;
  margin: 0 !important;

  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
}

a:hover {
  color: inherit;
}

/* ---------- FONTS ---------- */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif !important;
}

h1, h2, h3, h4, p, a {
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 40px !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 30px !important;
  font-weight: 700 !important;
}

h3 {
  font-size: 25px !important;
  font-weight: 700 !important;
}

h4 {
  font-size: 20px !important;
  font-weight: 700 !important;
}

h5 {
  font-size: 18px !important;
  font-weight: 700 !important;
}

p {
  font-size: 18px !important;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif !important;
}


/* ---------- BUTTONS ---------- */
button {
  text-transform: none !important;
}